<h2>Editing restaurant <%= @restaurant.name %></h2>

<!-- <%#= render 'restaurants/form', restaurant: @restaurant %> Only if the partial is in another folder -->
<%= render 'form', restaurant: @restaurant %>
